<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Donald Trump Tweet Notifier</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href='styles.css' />
</head>
<body>
	<img src='trump_just_hair.png' alt='Trumps Hair' width="120px" class='animated infinite bounce'/>
	<div class='wrapper'>
	 <h1>Congratulations!</h1>
	 <p>Your now registered! You will now get a text when ever donald trump tweets!</p>
	</div>
</body>
</html>