<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Donald Trump Tweet Notifier</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href='styles.css' />
</head>
<body>
	<img src='trump_just_hair.png' alt='Trumps Hair' width="120px" class='animated infinite bounce'/>
	<div class='wrapper'>
	 <h1>Get a Text When Trump Tweets</h1>
	 <form action="/create-subscription" method="POST">
	 	
	 	<label id='first_name'>First Name</label>
	 	<input type='text' name='first_name' id='first_name' />
	 	
	 	<label id='last_name'>Last Name</label>
	 	<input type='text' name='last_name' id='last_name' />
	 	
	 	<label id='tel'>Cell Number</label>
	 	<input type='tel' name='phone_number' id='tel' />
	 	
	 	<label id='email'>Email Address</label>
	 	<input type='email' name='email' id='email' />
	 	
	 	<input type='submit' class='button' name='create' value='Sign Up!' />
	 </form>
	</div>
</body>
</html>